# Core Server
fastapi
uvicorn
python-multipart

# Database & Storage
sqlalchemy
psycopg2-binary
supabase

# AI & Processing
groq
pypdf
reportlab
sentence-transformers

# Auth & Security
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Integrations
stripe
requests

# Stable Version Pins to avoid conflict
grpcio==1.66.1
grpcio-status==1.66.1
google-api-core
